// User variables:
$accent: #0585DE
$text: #000000
$blue-1: #0B477B
$blue-2: #004C8A
$blue-3: #116099
$blue-4: #0585DE
$border: #6BB8EE
$gray: #7b7d7c
$white: #ffffff


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
